.admin-dashboard {
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  display:flex;
  flex-direction: column;
  
}

.dashboard-content {
  max-width: 1000px;
  margin: 5px;
  height:80%;
  padding: 30px;
  border-radius: 10px;
  align-self: center;
  background-color: none;
}

.dashboard-content h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
}

.summary-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.summary-card {
  flex: 1;
  min-width: 250px;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
  text-align: center;
}

.summary-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #222;
}

.summary-card p {
  font-size: 1.6rem;
  font-weight: bold;
  color: #4f46e5;
}
@media screen and (max-width: 768px) {
  .dashboard-content {
    padding: 20px;
    width: 85%;
    min-height: auto;
  }

  .summary-grid {
    flex-direction: column;
    gap: 15px;
  }

  .summary-card {
    min-height: 100px;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: none;
  }

  .dashboard-content h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .summary-card h3 {
    font-size: 1rem;
  }

  .summary-card p {
    font-size: 1.4rem;
  }
}
